* {
  box-sizing: border-box;
}

.s3screen {
  min-height: 100vh;
  outline: 10px solid black;
  background: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  padding-top: var(--screen-top);
}

.s3card {
  width: 100%;
  max-width: 420px;
  background: #fff;
  border-radius: 26px;
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.s3card h1 {
  margin: 6px 0 4px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: -1px;
}

.s3innerCard {
  background: #efefef;
  border-radius: 28px;
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 72vh;
}

.s3cardHeader {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top: 6px;
  font-weight: 800;
}

.s3cardHeader:first-child svg {
  background: #ddd;
  border-radius: 999px;
  padding: 10px;
  width: 56px;
  height: 56px;
}

.s3cardHeader h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1;
}

.s3cardHeader p {
  display: none;
}

.s3question {
  font-weight: 10000;
  font-size: 25px;
}

.s3accountRow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.s3accountRow .label {
  font-size: 20px;
  font-weight: 900;
}

.s3accountRow .value {
  font-size: 22px;
  font-weight: 900;
}

.s3infoBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 900;
}

.s3infoBlock .label {
  font-size: 20px;
}

.s3infoBlock .value {
  font-size: 22px;
}

.s3button {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.s3buttonPopUp {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 1%;
  align-items: center;
  justify-content: center;
}

.s3buttonPopUp button,
.s3button button {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 14px 18px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.s3btnSecondary {
  background: #6f6f6f;
  color: #fff;
}

.s3button {
  display: flex;
  justify-content: center;
}

.s3accept {
  width: auto;
  max-width: 220px;
  padding: 8px 10px;
  border: 2px solid #1f8f3e;
  border-radius: 20px;
  background: #35d05e;
  color: #0b0b0b;
  font-size: 16px;
  font-weight: 900;
  box-shadow: 0 1px 1px rgba(21, 87, 36, 0.851);
  cursor: pointer;
}

.s3accept:hover {
  filter: brightness(0.9)
}

.s3accept:active {
  transform: translateY(1px);
}

.s3accept:active,
.s3btnSecondary:active {
  transform: translateY(1px);
}

.s3popUp {
  background: lightgray;
  flex: 1;
  border-radius: 26px;
  padding: 5%;

  display: flex;
  flex-direction: column;
  gap: 12px;

}

@media (min-width: 900px) {
  .s3screen {
    padding: 40px 16px;
  }

  .s3innerCard {
    min-height: 640px;
  }
}

.fade-in {
  animation: fadeIn 440ms ease-out both;
}

@keyframes fadeIn {
  from {
    transform: translateY(1px);
  }

  to {
    transform: translateY(0);
  }
}